<div class="mt-5">
    <h2>Nosotros</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam natus incidunt hic unde. Optio dicta asperiores, facilis sit repellat aliquam, id corporis laborum reprehenderit sed illo unde nemo modi vel!
    </p>

    <ul class="list-group">
        <!--index as i CREA UN INDICE en ngFor PARA LUEGO PASAR AL COMPONENTE EQUIPO
        UN ELEMENTO DEL ARRAY EN UNA RUTA DINAMICA-->
        <li class="list-group-item" *ngFor="let item of equipo, index as i">
            <h6>Nombre: {{item.nombre}}</h6>
            <h6>Nombre: {{item.especialidad}}</h6>
            <a [routerLink]="['/equipo',i]">Leer más</a>
        </li>
    </ul>


</div>
